:root{
    --dark-color:#282e34;
    --light-color:#f4f4f4;
}

html{
    box-sizing: border-box;
}
*, *:before, *:after{

}

body{

    background-color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    color: #edf0f1;
}

nav *{
    display: inline-block;
    color: #edf0f1;
}

nav{
    background-color: var(--dark-color);
    width: 100%;
}

.logo{
    margin-left: 10px;
    cursor: pointer;
}

.nav-list{
    margin: 0 10px;
    text-decoration: none;
}

.jumbotron{
    width: 100%;
    height; 400px;
    background_image: url();
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    text-align: center;
    position: relative;
}

.jumbotext{
    position: absolute; 
    top: 150px;
    width: 100%;
    background-color: var(--dark-color);
    opacity: 0.9;
}

.button{
    position: relative;
    top: 300px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #0069d9;
    color: #ddd;
    border: 2px solid #0069d9;
    border-radius: 20px;
}

#case{
    background-color: var(--dark-color);
    color: #666;

}

#case div{
    margin: 50px 10% 0 10%;
    text-align: center;
}

#case img{
    max-width: 40%;
}

.card{
    width: 300px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

#about{
    background-color: var(--light-color);
    color: #666;
    margin: 50px 10%;
}

footer{
    background-color: var(--dark-color);
    color: #666;
    height: 100px;
    padding: 10px;
}

footer span{
    margin-bottom: 0;
}


h1{
    text_align:center
}
p{
    color: blue

}
.left-aligned{
    text-align: left;
}

#larger-text{
    font-size: 3em;
}

*{
    
}